.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    width: 200px;
    margin-top: 250px;
    padding-left: 50%;
    color: black;
}

.button{
    height: 60px;
    width: 400px;
    background-color: rgb(5, 0, 0);
    margin-top: 40px;
    color: rgb(255, 255, 255);
}

.Abutton{
    margin-top: 10px;
}


.padd{
    padding-top: 70px;
}

.box{
    height: 60px;
    width: 400px;
    background-color: rgb(185, 182, 182);;
    border-radius: 7px;
    margin-top: 20px;
    opacity: 2;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 690px) {
    .button{
        height: 40px;
        width: 100%;
        margin-top: 20px;
    }
    .Abutton{
        margin-top: 10px;
    }
    .padd{
        padding-top: 35x;
    }
    .box{
        height: 40px;
        width: 250px;
        margin-top: 20px;
    }
}