.item{
   
    padding-top: 150px;
    background-color: rgb(115, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.date{
    display: flex;
}
.headlines{
    height: auto;
    width: auto;
    background-color: rgb(5, 5, 5);
    color: rgb(247, 251, 7);
}

.content{
    height: auto;
    width: 100%;
    background-color: rgb(76, 75, 75);
    color: rgb(193, 191, 189);
}

.page{
    height: 90%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 690px) {
   .item{
    padding-top:500px;
    background-color: rgb(113, 116, 115);
    display: flex;
    justify-content: center;
    align-items: self-start;
    text-align: center;


   };
}
  
