.linput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    width: 200px;
    padding-top: 400px;
    padding-left: 50%;
}

.Loggedbutton{
    color: rgb(255, 255, 255);
    background-color: rgb(64, 255, 0);;
    margin-left: 10px;
}

.exitbutton{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    margin-left: 10px;
}

.padd{
    padding-top: 20px;
}

.box{
    height: 60px;
    width: 380px;
    background-color: rgb(64, 255, 0);
    border-radius: 7px;
    margin-top: 10px;
    opacity: 2;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 690px) {
    .linput{
        padding-top: 550px;
    }
    .button{
        height: 40px;
        width: 100%;
        margin-top: 10px;
    }
    .Loggedbutton{
        height: 40px;
        width: 100%;
        margin-top: 10px;
        color: rgb(254, 254, 254);
        background-color: rgb(64, 255, 0);
        margin-bottom: 10px;
    }
    .exitbutton{
        height: 40px;
        width: 100%;
        margin-top: 10px;
        color: rgb(254, 254, 254);
        background-color: rgb(247, 8, 0);
        margin-bottom: 10px;
    }
    .button{
        color: rgb(64, 255, 0);
    }
    .padd{
        padding-top: 30x;
    }
    .box{
        height: 40px;
        width: 250px;
        margin-top: 0px;
    }
    .submit{
        height: 40px;
        width: 250px;
        margin-top: 10px ;
    }
}